@font-face {
    font-family: IBM;
    src: url(./fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
  }

  @font-face {
    font-family: IBMMedium;
    src: url(./fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf);
  }

  @font-face {
    font-family: IBMBold;
    src: url(./fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
  }


  * {
    box-sizing: border-box;
  }

  img {
    width: 100%;
  }

  body {
    font-family: "Poppins", sans-serif;
    font-family: IBM, "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  header {
    position: relative;
    padding: 2rem;
    background-image: url(./images/bg-main-mobile.png);
    background-position: 100%;
    background-repeat: no-repeat;
  }

  header nav {
    margin-bottom: 3rem;
  }

  header nav img {
    max-width: 150px;
  }

  header h1 {
    font-size: 3rem;
    font-family: IBMBold, sans-serif;
  }

  header p {
    font-size: 1.5rem;
  }

  header > img {
    display: none;
  }

  main {
    background-color: hsl(244, 23%, 12%);
    background-image: url(./images/bg-pattern-2.svg);
    background-position: center top;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    border-radius: 10px;
  }

  main > img {
    max-width: 300px;
    position: relative;
    top: -7rem;
  }

  main .description {
    background-color: #f97353;
    border-radius: 10px;
    text-align: start;
    padding: 2rem;
  }

  main .description h2 {
    font-size: 2rem;
  }

  main .description > p:last-of-type span {
    font-size: 2.5rem;
    font-weight: bold;
  }

  main .description button {
    border: none;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 2rem;
    width: 100%;
    font-family: inherit;
    font-weight: bold;
  }

  main .description button:first-of-type {
    background-color: hsl(244, 23%, 12%);
    color: white;
    margin-bottom: 1rem;
  }

  main .description button:last-child {
    background-color: white;
  }

  main .description button img {
    max-width: 30px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 4rem 1rem;
  }

  footer a {
    text-decoration: none;
  }

  footer img {
    max-width: 200px;
  }

  .container-icons {
    margin-top: 3rem;
  }

  footer .container-icons img {
    width: 30px;
    margin-right: 1rem;
  }


  @media screen and (min-width: 750px) {
    header {
      background-image: url(./images/bg-main-desktop.png);
      background-size: 100%;
      background-position: 10% 30%;
      height: 100vh;
    }
    header > img {
      display: block;
      max-width: 300px;
      position: absolute;
      top: -3rem;
      right: -2rem;
    }
    header .hero-content {
      padding-right: 15rem;
      padding-left: 5rem;
      padding-bottom: 10rem;
    }

    main, footer{
        margin-left: 7rem;
        margin-right: 7rem;
    }

    main {
      display: flex;
      align-items: center;
      max-height: 80vh;
      margin-top: 6rem;
    }

    main .description{
        position: relative;
        min-width: 340px;
        max-width: 340px;
        right: 2rem;
        top: 6rem;
    }
    main > img{
        left: 3rem;
    }

    footer{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
        gap: 0.5rem;
        flex-wrap: wrap;
    }
  }

  @media screen and (min-width: 900px) {       

    header h1 {
      font-size: 4rem;
    }

    .hero-content{
        padding-right: 24rem;
    }
   

    main{
        justify-content: space-around;
    }

    main .description{
        right: 0;
    }

    main > img{
        left: 0;
    }

  
  }


  @media screen and (max-width: 1101px) {
    main{
        margin-top: 10rem;
    }
  }

  @media screen and (max-width: 1000px) {
    main{
    margin-top: 15rem;     
    }
   
  }

  @media screen and (min-width: 1440px) {
    
    header{
        height: auto;
    }

    body{
        max-width: 1440px;
        margin: auto;
    }

  }


