html{
  font-size: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .card {
    max-width: 30rem;
    background-color: #fff;
    padding: 1.3rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}
  
  img {
    width: 100%;
    border-radius: .5rem;
  }

  p{
    font-size: 1.5rem;
  }