body {
    font-family: Arial, sans-serif;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .card {
    width: 300px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding-bottom: 15px;
}
  
  img {
    width: 100%;
    border-radius: 5px;
  }

  p{
    font-size: 15px;
  }