/* Global Styles */
html{
  font-size: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: hsl(0, 0%, 8%);
    font-family: 'Inter-regular', sans-serif;
    color: white;
  }
  
  /* Fonts */
  @font-face {
    font-family: 'Inter';
    src: url('assets/fonts/static/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'Inter-regular';
    src: url('assets/fonts/static/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
  }
  
  /* Image */
  img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
  }


  main{
    max-width: 40rem;
    flex: 1;
    margin: 2rem;
  }
  
  /* Card */
  .card {
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: hsl(0, 0%, 12%);
  }
  
  .country {
    padding-top: 0.7rem;
    font-size: 1.8rem;
    color: hsl(75, 94%, 57%);
  }
  
  .name {
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
  }
  
  .description {
    padding: 1.8rem 0 ; 
    font-weight: lighter;
    font-size: 1.5rem;
  }
  
  /* Links */
  .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  
  }
  
  .links a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    background-color: hsl(0, 0%, 20%);
    padding: 1.5rem;
    border-radius: 1rem;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .links a:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
  }