
@font-face {
    font-family: Roboto;
    src: url(./newsletter-sign-up-with-success-message-main/newsletter-sign-up-with-success-message-main/assets/fonts/Roboto-Regular.ttf);
}


*{
    font-family: Roboto, sans-serit;
}


body{
    background-color: #b4e3e9;
}


@media screen and (max-width: 650px) {

    .grid-container{
        justify-content: center;
    }
    
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 20px;
}




.wrapper {
    position: relative;
    width: 300px;
    height: 100px;
    margin: 10px;
    
}


.back {
    width: 100%;
    height: 100%;
    background-color: #6fc1e4;
    border-radius: 10px;
}

.top {
    width: 70%;
    height: 100%;
    position: absolute;
    z-index: 2; 
    top: 0;
    right: 0;
    border-top-right-radius: 10px;
    background-color: #e1e1e1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
}

h1 {
    position: relative;
    top: 30%;
    left: 7%;
    margin: 0;
    padding: 0;
}

h3 {
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.top h3 a {
    text-decoration: none;
    color: black;
    transition: .2s;
}

.top h3 a:hover{
    color: rgb(17, 26, 165)
}

p {
    padding: 0;
    margin-top: 5px; 
    font-size: 12px;
}