
@font-face {
    font-family: Roboto;
    src: url(./newsletter-sign-up-with-success-message-main/newsletter-sign-up-with-success-message-main/assets/fonts/Roboto-Regular.ttf);
}


*{
    font-family: Roboto, sans-serit;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}


.card{
    background-color: burlywood;
    height: 400px;  
    width:400px; 
    border-radius: 15px;
}

.number {
position: relative;
top: 10px;
outline: none;
max-width: 400px;
margin: 10px;
padding: 5px;
border-radius: 30px;
background-image: linear-gradient(#d7efa1, #74ca2e);
padding: 10px;
height: 30px;
}

.title {
position: absolute;
right: 0px;
top: 0px;
outline: none;
height: 40px;
padding: 5px 5px 5px 20px;
border-radius: 30px;
width: 80%;

text-align: left;
}

a {
text-decoration: none;
color: rgb(65, 96, 234);
font-size: 12px;
}

a:visited {
color: rgb(114, 114, 227);
}

p {
margin: 0px;
padding: 0px;
}
.number > h2 {
margin: 0px;
padding-left: 7%;
}

