@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "CommissionerBold";
    src: url(./assets/fonts/static/Commissioner-Bold.ttf);
  }

  @font-face {
    font-family: "CommissionerRegular";
    src: url(./assets/fonts/static/Commissioner-Regular.ttf);
  }
}

.radio-label:hover .custom-radio {
  outline-color: hsl(176, 50%, 47%);
}

input[type="radio"]:checked ~ .custom-radio {
  background-color: hsl(176, 72%, 28%);
}

.modal::-webkit-scrollbar {
  display: none;
}




.modal::backdrop {
 backdrop-filter: blur(5px);
 
}
