@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --circle-size: 1.25rem;
    --toggle-width: 3.125rem;
}

body {
  font-family:"Manrope",  "Poppins", sans-serif;
  text-align: center;
  background-color: hsl(230, 100%, 99%);
  padding: 0;
  margin: 0;
}

main {
  margin: 0 2rem;
}

header {
  padding: 1rem;
  height: 50vh;
  background-image: url(./images/pattern-circles.svg),
    url(./images/bg-pattern.svg);
  background-size: 120px, cover;
  background-position: center 40px, left bottom;
  background-repeat: no-repeat;
  align-content: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
  padding: 0 5rem;
  color: hsl(225, 20%, 60%);
}

.card {
  background-color: white;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.081);
  border-radius: 5px;
  position: relative;
  top: -5rem;
  max-width: 35rem;
  margin: auto;
}

.card-body {
  padding: 1rem;
}

.card-header {
  display: grid;
  grid-template-areas:
    "title"
    "slider"
    "price";
}

.preview {
  grid-area: title;
  font-size: 0.8rem;
  font-weight: 500;
  color: hsl(225, 20%, 60%);
}
.price {
  grid-area: price;
  font-size: 2rem;
  font-weight:900;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.price span {
  font-size: 0.8rem;
  color: hsl(225, 20%, 60%);
  font-weight: lighter;
}


/* ********************** Slider styles *************************  */
.slider {
  position: relative;
  grid-area: slider;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
}

.active {
  background-color: hsl(174, 77%, 80%);
  width: 16%;
  height: 0.5rem;
  border-radius: 0.625rem;
  position: absolute;
  bottom: 0.43rem; 
  z-index: 1;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: hsl(224, 65%, 95%);
  height: 0.5rem;
  border-radius: 1rem;
  -webkit-appearance: none;
  appearance: none;
}

input[type="range"]::-moz-range-track {
  background: hsl(224, 65%, 95%);
  height: 0.5rem;
  border-radius: 1rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 2rem;
  width: 2rem;
  background-color: hsl(174, 86%, 45%);
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  background-position: center;
  cursor: grab;
  border-radius: 50%;
  margin-top: calc((0.5rem / 2) - (2rem / 2));
  z-index: 2;
  position: relative;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: hsl(174, 95%, 61%);
}

input[type="range"]::-webkit-slider-thumb:active {
  background-color: hsl(174, 84%, 35%);
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 2rem;
  width: 2rem;
  background-color: hsl(174, 86%, 45%);
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  background-position: center;
  cursor: grab;
  border-radius: 50%;
  margin-top: calc((0.5rem / 2) - (2rem / 2));
}
input[type="range"]::-moz-range-thumb:active {
  background-color: hsl(174, 84%, 35%);
}

input[type="range"]::-moz-range-thumb:hover {
  background-color: hsl(174, 95%, 61%);
}
/* ************************ ********************* ********** */


.type {
  display: flex;
  align-items: center;
  justify-content: end; 
  margin: 1.5rem;
}

.type p {
  margin: 0;
  font-size: 0.9rem;
  color: hsl(225, 20%, 60%);
}


/* ******************* Toggle Styles *************************** */

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.billing-type {
  width: var(--toggle-width);
  height: var(--circle-size);
  border-radius: 2.5rem;
  padding: 0.25em;
  margin: 0 1rem;
  background: hsl(223, 50%, 87%);
  transition: all 0.5s;
}

.toggle-switch {
  height: var(--circle-size);
  width: var(--circle-size);
  background: white;
  border-radius: 50%;
  transition: all 0.2s;
}

.billing-type:has(input[type='checkbox']:checked){
    background-color: hsl(174, 86%, 45%);
}

input[type='checkbox']:checked ~ .toggle-switch {
  transform: translateX(calc(var(--toggle-width) - var(--circle-size)));
}

/* ************************** *********************** ************************ */

.badget {
  background-color: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
  border-radius: 20px;
  padding: 3px 6px;
}

.card-footer {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.card-footer ul {
  list-style-type: none;
  list-style-image: url(./images/icon-check.svg);
  font-size: 0.8rem;
  color: hsl(225, 20%, 60%);
}
.card-footer ul li{
    margin-bottom: 0.6rem;
}
.btn {
  border: none;
  padding: 0.7rem 2.5rem;
  border-radius: 50px;
  color: hsl(225, 20%, 60%);
  font-weight: bold;
  background-color: hsl(227, 35%, 25%);
}

.btn:hover {
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
 
  .card-header {
    grid-template-areas:
      "title price"
      "slider slider";
    align-items: center;
  }

  .card-footer {
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
  }
}

@media screen and (max-width: 450px) {
    html{
        font-size: 14px;
    }
}

@media screen and (max-width: 370px) {
    html{
        font-size: 12px;
    }
}