@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-ExtraBold.ttf);
}

body {
  background-color: hsl(0, 0%, 94%);
  font-family: Poppins, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.row {
  display: flex;
}


.arrow {
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  width: 46px;
  height: 44px;
  padding: 20px;
  position: relative;
  z-index: 1; 
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: white;
  padding: 20px 40px;
  border-radius: 30px;
  border-bottom-right-radius: 100px;
}

input{
  border-radius: 14px; 
  border: 1px solid #dbdbdb; 
  font-weight: bold;
}

.result {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 70px;
}

.number {
  color: hsl(259, 100%, 65%);
}

.hint{
  margin-left: 5px;
  color: hsl(0, 1%, 44%);
  letter-spacing: 2px;
}


@media only screen and (min-width: 651px) {

    body{  
        flex-direction: column;
    }
    
  .row {
    display: flex;
    justify-content: start;
    gap: 8px;
    width: 100%;
    padding-left: 60px;
    margin-top: 15px;
  }

  .card {
    max-width: 800px;
  }
  .arrow {
    float: right;
    top: 40px;
  }
  hr {
    width: 90%;
  }


  input {
    max-width: 150px;
    padding: 15px;
    font-size: 30px;
    margin-top: 10px;
  }

  .result{
    font-size: 80px;
    margin-left: 40px;
  }

  .hint {
    font-size: 20px;
  }

}

@media only screen and (max-width: 650px) {
  .card{
    max-width: 300px;
  }
  .row{
    justify-content: space-evenly;
  }
  .arrow{
    left: 38%; 
    top: 20px;
    right: 70%;
  }

  hr {
    position: relative;
    bottom: 30px;
    z-index: 0;
    width: 100%;
  }

  input {
    width: 70%;
    padding: 10px;
    font-size: 18px;
  }

  .hint {
    font-size: 12px;
  }

  .result {
    font-size: 50px;
  }
}



.btn{
  width: 100%;
  background: none;
  outline: none;
  border: none;
}


input:focus{
  border-color: hsl(259, 100%, 65%);;
  outline: none;
} 


.valid-day, .valid-month, .valid-year, .empty-error{
  margin-bottom: 20px;
}


.empty-error::after, .valid-day::after, .valid-month::after, .valid-year::after{
    color: red;
    font-family: sans-serif;
    font-style: italic;
    position: absolute;
    width: 100px;
    z-index: 2;
}

.empty-error::after{
  content: "This field is required"; 
}

.valid-day::after{
  content: "Must be a valid day"
}

.valid-month::after{
  content: "Must be a valid month";
}

.valid-year::after{
  content: "Must be a valid past"
}


p{
  margin: 0;
  padding: 0;
}

.result div {
  display: flex;
  align-items: start;
}

.result div span.animate{
  display: block;
  animation: rotate 0.7s;
  animation-fill-mode: forwards;
}


.result div span.animate {
  animation-name: rotate;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes rotate {

  from{
    transform:rotate(0deg) scale(0.4);
  }

  to{
    transform: rotate(360deg) scale(1);

  }
  
}
