



body{
    overflow-y: auto;
}


@media screen and (max-width: 650px) {

    .links li:not(:first-child), .login li:not(:last-child){
        display: none;
    }

    main{
        flex-direction: column;
    }
    
    .main-title{
        order: 1;
        width: 100%;
        text-align: center;
    }

    .desktop-image{
        display: none;
    }

    .mobile-image img{
        width: 100%;
    }

    .menu {
        display: block;
      }

      .sidebar {
        display: none;
        position: fixed;
        background-color: white;
        height: 100%;
        right: 0;
        top: 0;
        bottom: 0;
        width: 70%;
        z-index: 2;
      }
      
.overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.594);
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }

  .sidebar ul li a {
    color: black;
    font-family: var(--inter);
    font-size: 30px;
  }

  .sidebar ul li {
    list-style: none;
  }

  .sidebar ul li:first-child {
    align-self: flex-end;
    padding: 10px 20px;
  }

  .sidebar li img {
    width: 50px;
    align-self: end;
  }

        
}


@media  screen  and (min-width: 651px){

    section.main-title{
        width: 30%;
    }

    .mobile-image{
        display: none;
    }

    .sidebar {
        display: none;
      }

      .menu {
        display: none;
      }
    
}


header nav>ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-left: 0;
}

.title{
    color: hsl(0, 0%, 41%);
}

.title:hover{
    cursor: pointer;
    color: black;
}

.links{
    display: flex;
    gap: 30px;
}

.links a, .login a{
    color: hsl(0, 0%, 41%); 
    text-decoration: none;
}

.links a:hover, .login a:hover{
    color: black;
}

.login{
    display: flex;
    gap: 20px;
    
}

.login li:nth-child(2) a{
    border: 2px solid;
    border-radius: 10px;
    padding: 5px 10px;
    text-decoration: none;
}

.feature, .company{
    position: relative;
    cursor: pointer;
    user-select: none;
}

.description ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.description ul li{
    cursor: pointer;
    justify-content: space-between;
    text-align: start;
}


.description ul li a{
    margin-left: 10px;
}




.description{
    background-color: white;
    box-shadow: -1px 10px 20px 0px rgba(0, 0, 0, 0.383);
    padding:20px;
    margin-top: 10px;
    position: absolute;
    border-radius: 5px; 
   width: 70px;
}

.feature .description{
    left: -50px;
    width: 90px;
}


main{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    height: 500px;
    margin: 20px;
}



section.main-title h1{
    font-size: 50px;
}

section.main-title p{
    font-size: 25px;
}

section.main-title a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: black;
}

.desktop-image img{
  height: 100%;
}

section.main-title ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0;
}

.hide{
    display: none;
}

