

*{
    box-sizing: border-box;
}

img{
   width: 100%
}


body{
    height: 100vh;
    align-content: center;
    font-family: Fraunces, sans-serif;
    background-color: #F3EAE3;
}




.card{
    display: flex;
    background-color: white;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
}

.contents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
}


h5{
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: Montserrat, sans-serif;
    color: rgba(0, 0, 0, 0.652);
}

h3{
    font-size: 3rem;
}

p{
    font-family:Montserrat, sans-serif; 
    margin: 0;
    padding: 0;
}

.price{
    display: flex;
    align-items: center;
    gap: 1vw;
    margin: 10px;
}


h3{
    margin: 0;
    padding: 0;
    font-family: Fraunces, serif;
    color: hsl(158, 36%, 37%) ;
}

.off{
    text-decoration: line-through;
    font-family:Fraunces, serif;
    opacity: 0.7;
    font-size: 15px;
}

button{
    
    padding: 15px;
    background-color: hsl(158, 36%, 37%);
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button img{
    width: 15px;
}

button:hover{
    cursor: pointer;
    background-color:hsl(158, 34%, 23%);  
}

picture img{
    height: 100%;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
}


@media screen and (max-width: 750px) {  
    .card{
        flex-direction: column;
    }

    picture img {
        border-radius: 10px 10px 0 0 ;
        -webkit-border-radius: 10px 10px 0 0 ;
        -moz-border-radius: 10px 10px 0 0 ;
        -ms-border-radius: 10px 10px 0 0 ;
        -o-border-radius: 10px 10px 0 0 ;
}
   
}



